<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<link rel='stylesheet' href='/stylesheets/pural-style.css'/>    

<div class="container">
{{!-- Nav bar --}}
    <nav class="main-nav">
        <a href="/"><img src="/images/logo.small.PNG" alt="Logo" class="logo"></a>
        <ul class="main-menu">
            <li><a href="/product/all" target="_blank">All Products</a></li>
            <li><a href="/category/1" target="_blank">Bath & Shower</a></li>
            <li><a href="/category/2" target="_blank">Hair</a></li>
            <li><a href="/category/3" target="_blank">Face</a></li>
            <li><a href="/category/4" target="_blank">Body</a></li>
        </ul>

        <ul class="right-menu">
            <li>
            {{#if session}}
            <a href="/logout" target="_blank">Logout</a>
            {{else}}
            <a href="/login" target="_blank">Login</a>
            {{/if}}
            </li>
            <span>|</span>
            <li><a href="/register" target="_blank">Join</a></li>
            <span>|</span>
            <li><a href="/contact" target="_blank">Contact Us</a></li>
            <li><a href="#"><i class="fas fa-search"></i></a></li>
            <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
        </ul>
    </nav>

{{!-- Body --}}
    <div class="container-fluid form-style">
        <div class="row" style="height:100vh;">
            <div class="col-12 d-flex justify-content-center align-items-center">
                
                <form method="POST" action="/contact" style="width:40%;">
                <div class="form-group">

                <div class="container text-center mb-4">
                    <h1>Contact Us</h1>
                
                <div class="form-group">
                    <input type="text" class="form-control" name="name" autofocus placeholder="Name or company*">
                </div>
                
                <div class="form-group">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email*">
                </div>

                <div class="form-group">
                    <textarea class="form-control" id="message" name="message" rows="3" placeholder="Message (up to 280 characters, thanks!)"></textarea>

                    <span id="count" class="form-text"></span>
                </div>

                <div class="form-group">
                    <button type="submit" id="contact" class="btn btn-success btn-block">CONTACT US</button>
                </div>

                {{#if status}}
                    <p class="text-success text-center">{{message}}</p>
                {{else}}
                    <p class="text-danger text-center">{{message}}</p>
                {{/if}}

                </form>
            </div>
        </div>
    </div>
</div>