<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	
<link rel='stylesheet' href='/stylesheets/pural-style.css'/>

<div class="container-fluid form-style">
    <div class="row" style="height:100vh;">
        <div class="col-12 d-flex justify-content-center align-items-center">
            
            <form method="POST" action="/register" style="width:40%;">
            <div class="form-group justify-content-center align-items-center">

            <div class="form-header container text-center mb-4">
                <h1>Join Us</h1>
            </div>

            <div class="form-group">
                <input type="email" class="form-control" id="email" autofocus placeholder="Email*" required name="email">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="name" placeholder="First Name*" required name="name">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" id="lastName" placeholder="Last Name*" name="lastName">
            </div>

            <div class="form-group">
                <input type="phone" class="form-control" id="phone" placeholder="Phone" name="phone">
            </div>

            <div class="form-group">
                <input type="password" class="form-control" id="pw1" placeholder="Password*" name="password">
            </div>

            <div class="form-group">
                <input type="password" class="form-control" id="pw2" placeholder="Repeat password*">
                <small id="passwordHelpBlock" class="form-text text-dark">
                    Passwords must match
                </small>
                <small id="passwordCount" class="form-text text-dark verif">8-10 characters, containing letters & numbers.</small>
            </div>

            <div class="form-check text-dark mb-4">
                <input class="form-check-input" type="checkbox" id="autoSizingCheck2">
                <label class="form-check-label" for="autoSizingCheck2">
                    Yes, I want to receive Pural's newsletter
                </label>
            </div>

            <div class="form-group">
                <button type="submit" id="register" class="btn btn-success btn-block">CREATE ACCOUNT</button>
            </div>

            {{#if status}}
                <h5 class="text-center text-success mt-3">{{message}}</h5> 
            {{else}}
                <h5 class="text-center text-danger mt-3">{{message}}</h5>
            {{/if}}

            </form>
        </div>
    </div>
</div>